.App {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: lime;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}
body {
  width: fit-content;
  overflow: hidden;
  background: black;
}

