.App {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: lime;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  user-select: none; /* 텍스트 선택 비활성화 */
  -webkit-user-drag: none; /* 요소 드래그 비활성화 */
  overflow-x: hidden; /* 가로 스크롤 비활성화 */
  
}
body {
  font-family: 'Courier New', Courier, monospace;
  width: fit-content;
  overflow: hidden;
  background: black;
  user-select: none; /* 텍스트 선택 비활성화 */
  -webkit-user-drag: none; /* 요소 드래그 비활성화 */
  overflow-x: hidden; /* 가로 스크롤 비활성화 */
}

